.Body{
    background-color: rgb(102, 75, 60);
    min-height: calc(100vh - 70px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.titulo2{
    border: 1px solid #000;
}