.Body{
    background-color:  #333;
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
   
   
}

.card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    transition: transform 0.3s;
    background-color: #f0f0f0;
    text-align: center;
   
}

.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.noImage{
    width: 100%;
    height: 200px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
}

.card h2,
.card p{
    color: #555;
}

.grid{
    width: 92.5vw;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

}